body {
    background-color: aliceblue;
}

h1, h3{
    text-align: center;
}

ol {
    padding-left: 250px;
    color: #333300;

}

p, #form_data {
    text-align: center;
    color: #333300;
}

#logo-img{
    height: 100px;
    width: auto;
}

